*{margin:0;padding:0;box-sizing:border-box}body{font-family:Poppins,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}input,button,textarea,select{font-family:Poppins,sans-serif}
